<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  </head>

  <body>
    <header>
      <h1>Play Scrabble With Sinatra</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/score">Score</a>
        <a href="/score-many">Score Many</a>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>

    <footer>
      &copy; 2016 Sophia Baldonado
    </footer>
  </body>
</html>
