<label for="letter-checkbox" class="letter-checkbox-label"><!--<span class="new-letter-checkbox">--><input class="letter-checkbox" type="checkbox" name="letter_breakdown[]" value="true" id="letter-checkbox"><!--</span>-->See Letter-by-letter Scores</label>
