<%= erb :score_table %>

  <article class="score-form">
  <form action="" method="post">
    <label class="score-label">Scrabble Word: <input class="score-textbox" type="text" name="word" value="" id="word" placeholder="word" required pattern="[A-Za-z]+"></label>

    <%= erb :letter_checkbox %>
    <input class="score-button" type="submit" value="SCORE">
  </form>
  <article>
