<section class="score-page">
  <h2>Scrabble Scorer</h2>
  <article class="score-form">
  <form action="" method="post">
    <label for="word">Scrabble Word</label>
    <input type="text" name="score" value="" id="name">
    <input type="submit" value="SUBMIT WORD"
  </form>
  <article>
</section>
