<section class="score-page">
  <h2>Scrabble Scorer</h2>
  <article class="score-form">
  <form action="" method="post">
    <label class="score-label">Scrabble Word: <input class="score-textbox" type="text" name="word" value="" id="word"></label>
    <input class="score-button" type="submit" value="SCORE">
  </form>
  <article>
  <% if @score %>
    <p>The score for <%= params["word"] %> is <%= @score %>!</p>
  <% end %>
</section>
