<%= erb :score_table %>

<p class="clear-both">Please type each word seperated by spaces.</p>
<article class="score-form">
  <form class="score-many-words" action="" method="post">
      <label class="score-label" for="words">Score Multiple Words</label>
      <textarea class="score-textbox score-many-textbox" name="words" placeholder="Enter your words here" id="words" rows="10" cols="50"></textarea>

      <label for="letter-checkbox" class="letter-checkbox-label"><!--<span class="new-letter-checkbox">--><input class="letter-checkbox" type="checkbox" name="letter_breakdown[]" value="true" id="letter-checkbox"><!--</span>-->See Letter-by-letter Scores</label>

      <input class="score-button" type="submit" value="SCORE">
  </form>
</article>
