/**

  green: #62A59E
  light green: #B8D7D4

**/

/** Main Layout **/

* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: 'Alegreya Sans', Arial, sans-serif;
  color: #808080;
}

body {
  margin: 0;
}

header {
  width: 100%;
  height: 12rem;
  background-color: #62A59E;
  padding-top: 1rem;
  text-align: center;
  overflow: auto;
}

header h1 {
  margin: .15rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', Georgia, serif;
}

h1 {
  font-size: 4rem;
  color: white;
}

a {
  text-decoration: none;
}

.top-nav {
  width: 50%;
  margin: auto;
}

.top-nav div {
  display: inline-block;
  width: 45%;
  height: 4rem;
  margin: .5rem .5rem;
  padding-top: 1rem;
  border: .2rem solid #B8D7D4;
  border-radius: .25rem;
}

.top-nav div:hover {
  border-color: white;
  color: white;
}

div.current-page {
  border-color: white;
  color: white;
}

.top-nav a {
  color: #B8D7D4;
  font-size: 1.4rem;
}

.accent {
  color: #B8D7D4;
}

footer {
  width: 100%;
  margin-top: 5rem;
  padding: 1rem;
  color: #B8D7D4;
  text-align: center;
  clear: both;
}

/** Home Page **/

.home-header {
  height: 27rem;
}


.home-header h1 {
  font-size: 5rem;
  margin: 3rem;
}

.scrabble-about {
  width: 80%;
  margin: auto;
  padding: 2rem;
}

.scrabble-about h2 {
  font-size: 2.5rem;
  font-weight: lighter;
  color: #62A59E;
}

.first-letter {
  color: #B8D7D4;
  font-family: 'Merriweather', Georgia;
  font-size: 1.8rem;
}

.scrabble-about p {
  width: 85%;
  float: left;
}

.scrabble-about figure {
  width: 13%;
  margin: 1rem auto;
  float: right;
  text-align: center;
}

.scrabble-about figure:hover {
  transform: scale(1.1);
}

.scrabble-about figcaption {
  color: #62A59E;
}

.scrabble-about img {
  width: 100%;
}

/** Score Page **/

.score-page * {
  display: block;
  margin: auto;
  text-align: center;
}

.score-page h2 {
  margin: 6rem auto 4rem auto;
}

.score-form {
  width: 50%;
  /*mrgin: auto;*/
}

.score-many-words label {
    font-size: 1.5rem;
}

.score-many-words textarea {
  text-align: left;
}
