* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  margin-bottom: 5rem;
  text-align: center;
}


footer {
  margin-top: 5rem;
  text-align: center;
  clear: both;
}

/** Home Page **/

.cat-scrabble {
  /*display: inline-block;*/
  width: 80%;
  margin: auto;
}

.cat-scrabble img {
  width: 100%;
}


/** Score Page **/

.score-page h2 {
  margin: 10rem auto;
  text-align: center;
}

.score-form {
  width: 50%;
  margin: auto;
}
