/**
  light green: #B8D7D4
  green: #62A59E

**/

/** Main Layout **/

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Alegreya Sans', Arial, sans-serif;
}

body {
  margin: 0;
}

header {
  width: 100%;
  height: 30rem;
  background-color: #62A59E;
  margin-bottom: 5rem;
  padding-top: 1rem;
  text-align: center;
  overflow: auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', Georgia;
}

h1 {
  font-size: 6rem;
  color: white;
}

a {
  text-decoration: none;
}

.top-nav {
  width: 50%;
  margin: auto;
}

.top-nav div {
  display: inline-block;
  width: 45%;
  height: 4rem;
  margin: .5rem .5rem;
  padding-top: 1.2rem;
  border: .2rem solid white;
  border-radius: .25rem;
}

.top-nav a {
  color: #B8D7D4;
}

.accent {
  color: #B8D7D4;
}

footer {
  margin-top: 5rem;
  text-align: center;
  clear: both;
}

/** Home Page **/

.cat-scrabble {
  width: 80%;
  margin: auto;
}

.cat-scrabble img {
  width: 100%;
}


/** Score Page **/

.score-page * {
  display: block;
  margin: auto;
  text-align: center;
}

.score-page h2 {
  margin: 6rem auto 4rem auto;
}

.score-form {
  width: 50%;
  /*mrgin: auto;*/
}

.score-many-words label {
    font-size: 1.5rem;
}

.score-many-words textarea {
  text-align: left;
}
